body{
    /*background-color: #1D2125;*/
    /*background-color: #21272E;*/
    /*background-color: #172333;*/
    background-color: #0d151e;
    color:white;
}
body.pushable>.pusher {
  background-color: #0d151e;
}
body.pushable{
    background-color: #0d151e!important;
}
#mainContent{
    margin-top:50px;
    margin-right:300px;
    /*margin-left:300px;*/
}
.ui.form .field>label{
    color: white;
}
.title{
    text-shadow: 0px 2px 3px rgba(0,0,0,0.7);
    font-size: 4.0em;
}
.ui.inverted.menu{
    background-color: rgb(15,15,20);
}
.ui.segment,
.ui.sticky{
    /*background-color: #333C44;*/
    background-color: rgba(0,0,0,0);
    /*border-radius: 1px;*/
    box-shadow: none;
    border:0;
}
.playlistItem{
    padding-left: 15px;
    padding-right:15px;
    padding: 10px 15px 10px 15px;
}
.playlistItem:hover{
    background-color: #1e2b38;
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.1);
    margin:-1%;
}
/*BUTTONS*/
.ui.green.button{
    background-color: #30e849;
}
.ui.button.red{
    background-color: #e83a30;
}

/*PLAYLIST*/
#playlistBlock{
    padding:0px;
    border:0;
}
#playlistBlock h3{
    padding:10px;
}

#playlistBlock ul{
    list-style: none;
    padding: 0px;
    margin:0px;
}

#playingNow{
    margin-right: 0;
}
#sidebarPlaylist{
    background-color: #0F0F14;
    /*width: 40%;*/
}
#playlistUpNext{
    list-style: none;
    padding:0;
}
#playlistUpNext li:nth-child(even){
    background-color: #16161e;
}
#playlistUpNext li{
    padding: 10px;
}
#playlistUpNext li:hover{
    background-color: #1e2b38;
}
#rateButtons{
    /*padding-left:10px;*/
    padding-right: 10px;
    /*margin-left:14px;*/
    /*margin-top:20px;*/
    width:300px;
}
/*#rateButtons div .ui.green.button{*/
/*    padding-right: 0px;*/
/*}*/
/*.purple.item:hover{*/
/*    background-color: purple!important;*/
/*}*/
.ui.cards > .songPost.card{
    background-color: #2E3948;
    /*color:white!important;*/
    box-shadow: 0px 5px 10px 3px rgba(0,0,0,0.1);
}
.ui.cards>.card>.content>.header{
    color:white;
    font-weight: 400;
}
.ui.cards>.card>.extra{
    padding:0;
}
.songImage{
    width:7vw;
    height:7vw;
}
.songPost .content .header{
    text-transform: none;
    font-weight: 400;
}

#closePlaylistButton{
    height:100%;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
#closePlaylistButton > i{
    margin:0!important;
}
#sidebarPlaylist .grid .column{
    padding:0;
    height: 100%
}
.ui.grid{
    margin:0;
}
#playingNow > iframe{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}
.ui.modal{
    background-color:  #2E3948;
    padding: 20px
}