<% include ../partials/header %>

<div class="ui segment">
    <h1>Add a New song (Enter only one link)</h1>
    <div class="ui grid">
        <div class="six wide column">
            <form action="/songs" method="POST" class="ui form">
                <div class="field">
                    <label for="songLink">Spotify Track Link:</label>
                    <input type="text" placeholder="Spotify Track Link" name="spotifyLink" id="songLink">
                </div>
                <button class="ui fluid purple button" type="submit">Submit</button>
            </form>
        </div>
        <div class="four wide column"></div>
                <div class="six wide column">
            <form action="/songs/playlist" method="POST" class="ui form">
                <div class="field">
                    <label for="songLink">Spotify Playlist Link:</label>
                    <input type="text" placeholder="Spotify Playlist Link" name="spotifyLink" id="songLink">
                </div>
                <button class="ui fluid purple button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

<% include ../partials/footer %>